.center {
    text-align: center;
}
.logo-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 11%;
}
.language {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 700;
}
.center .language {
    font-size: 22px;
}


@media (max-width: 799px) {
    .center {
        text-align: left;
    }
    .logo-bg {
        top: 0;
        left: -5%;
        width: 28%;
    }
    .language,
    .center .language {
        font-size: 12px;
    }
}
